
<div class="input-group @SizeClass bb-date-picker">
    <input class="form-control" type="text" value="@_stringValue" @onchange="(e=> OnStringValueChange(e))"/>
    <div class="input-group-append ">
        @*<button type="button" class="btn btn-outline-secondary" @onclick="OnOpenClick">&#x25BC</button>*@
        <span class="input-group-text" style="cursor:pointer;" @onclick="OnOpenClick">&#x25BC</span>
    </div>

    @if (_isOpen)
    {
        <div class="bb-calendar bb-dropdown" style="top:@TopDrowdown">
            
            <div class="bb-calendar__header text-primary">

                <span class="bb-calendar__button float-left text-info" @onclick="OnPreviousMonthClick">&lt;</span>

                <span>@_monthName</span>&nbsp;
                <span>@_year</span>

                <span class="bb-calendar__button float-right text-info" @onclick="OnNextMonthClick">&gt;</span>

            </div>

            <div class="bb-calendar__week-days">
                @if (_dayNames != null)
                {
                    @foreach(var dayName in _dayNames)
                    {
                        <div class="bb-calendar__week-day text-primary">@dayName</div>
                    }
                }
            </div>

            @if (_weeks != null)
            {
                @foreach(var week in _weeks)
                {
                    <div>
                        @foreach(var day in week)
                        {
                            <div class="bb-calendar__day @day.ModificatorClass" @onclick="(e=>OnDayClick(e, day))">@day.Day</div>
                        }
                    </div>
                }
            }

        </div>
    }

</div>


